body {
    background: #081229;
}

div, span, p, h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

a {
    color: #ffa704;
}

a:hover {
    color: #d38a03
}

.input-block label,
.input-block input:not([type="radio"]):not([type="checkbox"]),
.input-block select,
.input-block textarea {
    display: block;
}

.input-block input[type="file"] {
    width: 166px;
}

.input-block textarea {
    width: calc(100% - 20px); /* because padding is 0.5rem */
}

.input-block label {
    margin-bottom: 15px;
}

.input-block .radio-checkbox-container {
    margin-bottom: 21.5px;
}
.input-block .radio-name,
.input-block .select-name {
    margin: 0;
    text-transform: capitalize;
}
.input-block .radio-checkbox-group {
    display: flex;
    gap: 20px;
    padding: 2.5px;
    text-transform: capitalize;
}
.input-block .radio-checkbox-group label {
    margin-bottom: 0;
}

.field-error {
    display: block;
    color: red;
}

.playground-header {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.playground-body {
    display: flex;
    border: solid 1px #4f6294;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: calc(100vh - 155px);
}

.main-content {
    padding: 10px;
}

@media screen and (min-width: 550px) {
    .main-content {
        min-width: 318px;
    }
}

@media screen and (min-width: 720px) {
    .main-content {
        min-width: 480px;
    }
}

.navigation {
    min-width: 100px;
    margin: 0;
    padding-top: 10px;
    border-right: solid 1px #4f6294;
    padding-right: 10px;
}

.modal-container {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-container.hide {
    display: none;
}

.modal-body {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 20%;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    color: #000;
}

.modal-button {
    display: block;
    margin: 0 auto;
}

.logos {
    padding: 10px;
    background: #dfdfdf;
    width: 500px;
}

.logos img {
    width: 15%;
    margin: 0 10px;
    border: solid 1px grey;
    aspect-ratio: 3/4;
    object-fit: contain;
    mix-blend-mode: darken;
}